#navbar{
  display : flex;
  gap : 20px;
}

#cards{
  display : grid;
  grid-template-columns : repeat(3,1fr);

}

.items{
  text-align : center;
  border :1px , solid ,black;
  height : 100px;
  justify-content : space-between;
 
}